/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

	/*The Whole background of the body is black */

	body { 
		background-color: #0f0f0f; 
	}

/* ------------------------------------------------------------------ */
/* b. Navigation Bar Styles
/* ------------------------------------------------------------------ */
#nav {
		vertical-align: baseline;
		text-align: center;
		background: black;
		
		font: 16px 'opensans-bold', sans-serif;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		margin: 0 auto;
		z-index: 100;
		position: fixed;
		left: 0;
		top: 0;
	}

#home-nav > li {
		display: inline;
		width: 60px;
		color: red;
}

#home-nav > li  > a {
	color: red;
}

/* ------------------------------------------------------------------ */
/* c. Header Styles
/* ------------------------------------------------------------------ */
	#header-left {
		position: left;
		width: 30%
	}
	
	#header-right {
		position: right;
		width: 70%
	}
	
	/*	Change the h1 color to white when intro is the parent
		In our case, I want the header "I'm Thomas Cardenas text white, large
		texted and centered */
	#header-left  > h1 {
		/*I want the font opensans-bold, and sans-serif as a backup*/
		/*The text to be large*/
			font: 90px/1.1em 'opensans-bold', sans-serif;
		color: white;
		text-align: left;
	}
	
	/*	Change the h3 color to white when intro is the parent
		In our case, I want the paragraph describing the person text white,
		and centered */
	#header-left  > h3 {
		/*I want the font librebaskerville-regular, and sans-serif as a backup*/
		/*The text to be a sizable different than the h1*/
			font: 18px/1.9em 'librebaskerville-regular', sans-serif;
		/*	Make the h3 paragraph to fit within the length of h1
			*/
			color: white;
		/*	Position the text in the middle of the page
			Under the h1*/
			text-align: left;
			margin: 0 auto;
	}
	
	#home{
		margin-left:40px;
		margin-right: 40px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	
	#home{
		background-image: url(../images/header.jpg);
		background-repeat: no-repeat;
		background-position: top right;
	}
	
/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

	#about {
	
		/*Best way to define a color is with hex code*/
		/*Defining the back ground color of the about me section*/
		background-color: #2B2B2B;
		margin-top:10px;
		padding: 40px;
		height: 200px;
	}
	
	#about > #left-col{
		float: left;
		position: center;
		width: 25%;
	}

	#about > #right-col{
		float: right;
		width: 75%;
	}
	/*Change the h2 color to white when col-two is the parent*/
	/*In our case, I want the About me Header to be white in the about me section*/
	#part-two > h2,  #part-one > h2, #part-two > p,  #part-one > p{
		color: white;
	}
	#part-one > h2 {
		color: white;
	}
	
	
/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */
	#resume {
		/*Background color is white*/
		background-color: #fff;
		padding-top: 50px;
		overflow: hidden;
	}

	/*	Change h1 titles such as education, work, and skills to all caps.  
		*/
	#resume h1 {
	   font: 18px/24px 'opensans-bold', sans-serif;
	   /*Change to all caps*/
	   text-transform: uppercase;
	   letter-spacing: 1px;
	}
	/*	As well as the above, add a blue solid line underneath it
		*/
	#resume h1 span {
	   border-bottom: 3px solid #11ABB0;
	   padding-bottom: 6px;
	}
	
	/*
		Change the college name, workplace to bold
		*/
	#resume h3 {
		font: 25px 'opensans-bold', sans-serif;
		font-weight: bold;
	}

	#resume * #left-col{
		float: left;
		width: 50%;
		
	}

	#resume * #left-col > h1{
		padding-top: 9px;
		padding-left: 90px;
	}

	#resume * #right-col {
		float: right;
		width: 75%;
		padding-right: 10%;
	}
	
	/* ------------------------------------------------------------------ */
		/* Skills Section
		/* ------------------------------------------------------------------ */
		
		.bars {
			width: 95%;
			float: left;
			padding: 0;
			text-align: left;
		}
		.bars .skills {
			margin-top: 36px;
		   list-style: none;
		}
		.bars li {
		   position: relative;
			margin-bottom: 60px;
			background: #ccc;
			height: 42px;
			border-radius: 3px;
		}
		.bars li em {
			font: 15px 'opensans-bold', sans-serif;
		   color: #313131;
			text-transform: uppercase;
		   letter-spacing: 2px;
			font-weight: normal;
		   position: relative;
			top: -36px;
		}
		
		.bar-expand {
			position: absolute;
			left: 0;
			top: 0;

			margin: 0;
			padding-right: 24px;
			background: #313131;
			display: inline-block;
			height: 42px;
			   line-height: 42px;
			   border-radius: 3px 0 0 3px;
		}
		
		.left {
			float: left;
			width: 50%;
		}
		
		.right {
			float: right;
			width: 50%;
		}
			
			/*	This contains the percentage of how knowledgeable I am in each listed skill
				*/
			
			.java {
				width: 50%;
				-moz-animation: photoshop 2s ease;
				-webkit-animation: photoshop 2s ease;
			}
			.android-studio {
				width: 25%;
				-moz-animation: photoshop 2s ease;
				-webkit-animation: photoshop 2s ease;
			}
			.python {
				width: 25%;
				-moz-animation: illustrator 2s ease;
				-webkit-animation: illustrator 2s ease;
			}
			.javafx{
				width: 65%;
				-moz-animation: photoshop 2s ease;
				-webkit-animation: photoshop 2s ease;
			}
			.html5 {
				width: 30%;
				-moz-animation: illustrator 2s ease;
				-webkit-animation: illustrator 2s ease;
			}
			.eclipse {
				width: 70%;
				-moz-animation: illustrator 2s ease;
				-webkit-animation: illustrator 2s ease;
			}
			
/* ------------------------------------------------------------------ */
/* d. Project Section
/* ------------------------------------------------------------------ */
	#projects {
		/*Background color is white*/
		background-color: #fff;
		padding: 20px;
		overflow: hidden;
		margin-left:40px;
		margin-right:40px;
	}
	
/* ------------------------------------------------------------------ */
/* d. Outside of Code Section
/* ------------------------------------------------------------------ */
	#outside {
		/*Background color is white*/
		background-color: #2B2B2B;
		color: white;
		padding: 20px;
		overflow: hidden;
		margin:20px;
		margin-left: 40px;
		margin-right: 40px;
	}
	
	
/* ------------------------------------------------------------------ */
/* d. Contact Section
/* ------------------------------------------------------------------ */
	#contact {
		background-color: #fff;
		
		padding: 20px;
		overflow: hidden;
		margin-top: 10px;
		margin-left:40px;
		margin-right:40px;
	}
	#contact > ul > li {
		display: inline;
		width: 60px;
	}
/* ------------------------------------------------------------------ */
/* d. Footer Section
/* ------------------------------------------------------------------ */	
	#footer{
	/*Be clear of any floating elements*/
	clear: both;
	padding-left: 40px;
	padding-top: 10px;
	color: white;
}