/*Blue #6ed3cd
Purple #9068be
white/grey #e1e8f0
Redish #e62739*/

/*
grey dddfd4
tan fae596
light blue 3fb0ac
dark blue 173e43
*/

/*
blue 16174f
burnt 963019
white f6f1ed
grey 667467
*/

/**
`tan ede9ce
light borwn  c7ad88
medium grey 64706c
redish 935347
*/

/* ------------------------------------------------------------------ */
/* a. General Styles												  */
/* ------------------------------------------------------------------ */
body {
	margin: 20px;
	background: #381a5e;
}
/* ------------------------------------------------------------------ */
/* b. Logo Styles													  */
/* ------------------------------------------------------------------ */
.logo {
	float: left;
	background-image: url(images/logo.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	height: 35px;
	width: 35px;
}
/* ------------------------------------------------------------------ */
/* c. Navigation Bar Styles											  */
/* ------------------------------------------------------------------ */
header > nav {
	height: 25px;
	text-align: right;
	padding: 10px 0 0 20px;
	background: #381a5e;
}

header > nav > a {
	display: inline-block;
	margin-left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff5d5d;
	font: 18px  'opensans-bold', sans-serif;
	text-decoration: none;
}

header > nav > a:hover {
	color: #963019;
}

/* ------------------------------------------------------------------ */
/* d. Header Styles												  	  */
/* ------------------------------------------------------------------ */

header { 
	background: #381a5e; 
	height: 500px;
}

.header-intro {
	padding: 15px;
	margin-top: 20px;
	height: 400px;
	background-image: url(../images/nheader.jpg);
	background-position:center right;
	background-repeat: no-repeat;
	background-size: 300px 505px;
}

.header-intro > h1 {
	font-weight: 900;
	color: #ff5d5d;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.1em;
	clear: both;
	font: 400%  'opensans-bold', sans-serif;
}

.kicker {
	text-align: left;
	width: 60%;
	letter-spacing: 0.05em;
	color: #ff5d5d;
	font: 24px  'opensans-bold', sans-serif;
}

/* ------------------------------------------------------------------ */
/* e. About Styles												  	  */
/* ------------------------------------------------------------------ */

#about {
	height: 275px;
	padding: 25px 25px 10px 25px;
	background: #ff5d5d;
}

#about > #left-col{
	float: left;
	position: center;
	width: 20%;
}

#about > #right-col{
	float: right;
	width: 80%;
	font-weight: 700;
}

#about * h2 {
	font: 20px  'opensans-bold', sans-serif;
	font-weight: bold;
	color: #36002b;
}

#about * p {
	font: 18px 'opensans-bold', sans-serif;
	color: #36002b;
	
}
/* ------------------------------------------------------------------ */
/* f. Resume Styles												      */
/* ------------------------------------------------------------------ */
#resume {
	clear: both;
	background-color: #fff;
	padding: 25px;
	overflow: hidden;
}

/*	Change h1 titles such as education, work, and skills to all caps.  
*/
#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   /*Change to all caps*/
   text-transform: uppercase;
   letter-spacing: 1px;
}
/*	As well as the above, add a blue solid line underneath it */
#resume h1 span {
   border-bottom: 3px solid #ff5d5d;
   padding-bottom: 6px;
}

/*
	Change the college name, workplace to bold
*/
#resume h3 {
	font: 25px 'opensans-bold', sans-serif;
	font-weight: bold;
}

#resume * #left-col{
	float: left;
	width: 30%;		
}

#resume * #left-col > h1{
	padding-top: 9px;
	padding-left: 25px;
}

	#resume * #right-col {
		float: right;
		width: 70%;
		padding-right: 10%;
	}

/* ------------------------------------------------------------------ */
/* f1. Education Styles												      */
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* g. Project Styles												      */
/* ------------------------------------------------------------------ */
#projects {
	background-color: #afdbcf;
	padding: 25px;
	height: 200px;
	overflow: hidden;
}

#projects > h1 { 
	font: 25px 'opensans-bold', sans-serif;
	font-weight: bold;
}

/* ------------------------------------------------------------------ */
/* h. Outside of Code Section
/* ------------------------------------------------------------------ */
#outside {
	/*Background color is white*/
	background-color: #36002b;
	color: white;
	padding: 20px;
	overflow: hidden;
}

#outside > h1 { 
	font: 25px 'opensans-bold', sans-serif;
	font-weight: bold;
}

#outside * h4 {
	font: 16px  'opensans-bold', sans-serif;
	font-weight: bold;
}

#outside * p {
	font: 14px 'opensans-bold', sans-serif;
}
	
/* ------------------------------------------------------------------ */
/* y. Contact Styles												      */
/* ------------------------------------------------------------------ */
#contact {
	clear: both;
	color: white;
	background-color: #91cc9a;
	height: 150px;
	width: 100%;
}

#contact > h1 {
	font: 32px 'opensans-bold', sans-serif;
	padding-left:20px;
	padding-top:35px;
	float: left;
	width: 10%;
}

.nav-contact {
	padding-top: 40px;
	float: right;
	width: 87%;
	text-align: left;
}

.nav-contact > a {
	display: inline-block;
	margin-left: 20px;
}
/* ------------------------------------------------------------------ */
/* z. Footer Styles												      */
/* ------------------------------------------------------------------ */
footer {
	clear: both;
	font: 18px 'opensans-bold', sans-serif;
	text-align: left;
	color: white;
	background: #381a5e;
	height: 50px;
	width: 100%;
	padding: 25px;
}	