html {
	font-family: Arial, sans-serif;
	font-size: 16px
}

/*Class "nav-bar" for the navagation bar*/
#nav-bar{
	font-size:13px;
	width: 100%; /*100 percent of its parent*/
	height: 45px;
	background-color:#000000;
	color:white;
	z-index: 10; /**/
	position: fixed;
	box-sizing:border-box;
	-moz-box-sizing: border-box; /*For Mozilla*/
	text-transform: uppercase;
	letter-spacing:2.5px;
}
	/*Diplay in a single line*/
	#nav-bar li {
		display: inline;
		padding-left: 30px;
	}

#home{
	width:100%;
	padding-top:45:
}

.col-one{
	float: left;
	position: relative;
}

nav a{
	text-decoration: none;
	font-weight: bold;
}

div{
	/*Padding depends on the rescreen size*/
	padding-bottom: 1.25rem
}
	/*When highlighted, change to white with black letters*/
	div::selection{
		color:black;
		background-color:white;
	}
	