#posts-container img {
    object-fit: cover;
    height: 250px;
    width:100%;
}

#posts-container nav a {
    color: white!important;
}

.post-20180504 {
    background-color: #2E2E2E!important;
}

.post-20180511 {
    background-color: rgb(255, 142, 132);
}
.post-20180511 footer, .post-20180511 nav {
    background-color: rgb(150, 209, 218);
}
.post-20180511 .card {
    background-color: rgb(150, 209, 218);
}
.post-20180504 footer, .post-20180504 nav {
    background-color: #4B515D;
}
.post-20180518 footer, .post-20180518 nav {
    background-color: #e90052;
}
.post-20180518 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
}
.post-20180518 p {
    color: #e90052;
}
.post-20180518 a {
    color: white;
}

.post-20180518 h2 {
    border-right: 2px dotted hsla(0,0%,100%,.4);
    padding-right: 20px;
}

.post-20180518 a:hover{
    color: #eaff04;
}
.post-20180518 .section-heading {
    background: #eaff04;
    background-image: repeating-linear-gradient(30deg, rgba(0,0,0, .2), rgba(0,0,0, .2) 30px, transparent 0, transparent 60px);
}

.post-20180518 .date-heading {
    font-weight:  bold;
    font-size:  8em;
    text-align:  right;
    padding-top: 8%;
    padding-right: 5%;
    color: #38003c;
}
@media (max-width: 650px) {
    .post-20180518 .date-heading{
        font-size: 5.5em;
        padding-top: 19%;
    }

}
.post-20180504 .card {
    border: 2px solid #ff5252;
    background-color: #2E2E2E!important;
}

.post-20180504 h4, .post-20180504 h5, .post-20180504 a h4{
    color: #ff5252;
}

.post-20180504 .btn {
    background-color: #ff5252;
    color: #2E2E2E!important;
    font-weight: bolder;
    font-size: 14px;
}

.post-20180504 .fancy {
    line-height: 0.5;
    text-align: center;
    color: #ff5252;
    font-size: 3em;
}
.post-20180504 .fancy span {
    display: inline-block;
    position: relative;
}
.post-20180504 .fancy span:before,
.post-20180504 .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #ff5252;
    top: 0;
    width: 250px;
}

@media (max-width: 650px) {
    .post-20180504 .fancy span:before,
    .post-20180504 .fancy span:after {
        width: 100px;
    }

}
.post-20180504 .fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.post-20180504 .fancy span:after {
    left: 100%;
    margin-left: 15px;
}



.post-20180504 .author {
    font-style: italic;
}