:root {
    --clr-tan: #e8dfc7;
    --clr-darker-tan: #bfa898;
    --clr-red: #9b4447;
    --clr-frst-grn: #3d484b;
    --clr-fresh-grn: #91bca8;
}

.bkg-tan {
    background-color: var(--clr-tan)!important;
}

.bkg-darker-tan {
    background-color: var(--clr-darker-tan)!important;
}

.bkg-red {
    background-color: var(--clr-red)!important;
}
.bkg-fresh-grn {
    background-color: var(--clr-fresh-grn)!important;
}
.bkg-frst-grn {
    background-color: var(--clr-frst-grn)!important;
}

.fresh-grn {
    color: var(--clr-fresh-grn);
}