@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Yeseva+One');

:root {
    --main-steel: #b1b1b1;
    --main-deep-blue: #152B42;
    --main-grey: #7A8F9C;
    --main-pink: #FF7477;
    --main-whi: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

.intro{
    background: #013A6B -webkit-linear-gradient(30deg, var(--main-grey) 50%, var(--main-steel) 50%);
    min-height: 500px;
}
.intro > div {
    min-height: 500px;
    position: relative;
    top: 44%;
    transform: translateY(44%);
    -webkit-transform: translateY(44%);
    -ms-transform: translateY(44%);

    left: 31.5%;

}
.intro h1 {
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
}
.intro h5 {
    position: relative;
    left: 13%;
}
.about{
    background: #34ADFF -webkit-linear-gradient(150deg, var(--main-pink) 35%, var(--main-deep-blue) 35%);
    min-height: 400px;
}
.about h1{
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-whi);
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    letter-spacing: 10px;
}
.about h3{
    padding: 20px 20px 0 20px;
    color: var(--main-whi);
    font-family: 'Merriweather', sans-serif;
    font-size: 18px;
}
.about p {
    padding: 20px 20px 10px 20px;
    color: var(--main-whi);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
}

.education {
    background-color: var(--main-whi);
    min-height: 150px;
    padding-bottom: 20px;
}

.education h1 {
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-deep-blue);
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    letter-spacing: 10px;
}

.education .col-1 {
    float: left;
    width: 45%;
    padding: 20px;
}

.education .col-2 {
    float: right;
    width: 45%;
    padding: 20px;
    text-align: right;
}

.education h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}
.education p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
}
#education-activities {
    clear: both;
    padding: 0 20px 0 20px;
}

#education-activities h5 {
    padding: 10px;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
}
#education-activities ul {
    padding: 10px;
}

#education-activities li {
    padding: 5px;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 12px;
}


#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}

#toggle:checked ~ #expand {
    height: 175px;
}
#toggle:checked ~ label::before {
    content: "-";
}

.skills{
    background-color: var(--main-deep-blue);
    min-height: 260px;
    padding-bottom: 20px;
}

.skills h1 {
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-whi);
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    letter-spacing: 10px;
}

.skills ul {
    padding: 20px;
    list-style-type: none;
}

.skills li {
    color: var(--main-pink);

    font-family: "Merriweather Sans", sans-serif;
    padding-bottom: 5px;
}

.skills h3 {
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-whi);
    font-family: "Merriweather", sans-serif;
    font-size: 1em;
    letter-spacing: 10px;
}
.resume{
    background-color: var(--main-steel);
    min-height: 260px;
}

.resume h1 {
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-deep-blue);
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    letter-spacing: 10px;
}

.resume > div {
    padding: 20px;
}

.projects{
    background: #34ADFF -webkit-linear-gradient(30deg, var(--main-pink) 35%, var(--main-deep-blue) 35%);
    min-height: 450px;
    width: 100%;
}

.projects h1 {
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    color: var(--main-whi);
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    letter-spacing: 10px;
}

.projects h3 {
    color: var(--main-deep-blue);
    padding: 20px;
    font-size: 24px;
    font-family: 'Merriweather', sans-serif;
}

.projects a {
    text-decoration: none;
    color: var(--main-deep-blue);
}

.projects p {
    padding: 0 20px 20px 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.projects > div {
    padding: 10px;
}

.projects > div > .flex-item {
    margin: 10px;
    padding-bottom: 25px;
    height: 45%;
    min-height: 375px;
    width: 30%;
    background-color: rgba(177,177,177, .75);
    overflow: hidden;
}

.projects > div > .flex-item > div {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.projects > div > .flex-item > .flex-container {
    height: 15%;
    width: 100%;
}

.projects .flex-tag {
    margin: 5px;
    padding: 5px 8px 5px 8px;
    height: 20px;
    background-color: rgba(21,43,66, 1);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--main-whi);
    overflow: hidden;
}

.projects .flex-container .flex-tag:first-child {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgba(177,177,177, 0);
    color: var(--main-deep-blue);
    text-transform: uppercase;
}

.contact {
    background: #013A6B -webkit-linear-gradient(150deg, var(--main-grey) 50%, var(--main-steel) 50%);
    min-height: 150px;
    display: inline-block;
    width: 100%;
}

.contact p {
    padding: 20px;
}
.contact a {
    text-decoration: none;
    color: var(--main-whi);
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
}

/* General */
.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

.flex-item {
    order: 0; /* default is 0 */
    flex-grow: 0; /* default 0 */
    flex-shrink: 1; /* default 1 */
}